In [ ]:
from bs4 import BeautifulSoup as soup
import pandas as pd
import json
import requests
import re

In [ ]:
res = requests.get("https://www.imdb.com/search/title/?title_type=feature&countries=in&languages=hi&view=simple&ref_=adv_prv")

In [ ]:
page_soup=soup(res.text)

In [ ]:
#item_headers=page_soup.select('.lister-item-header')

In [ ]:
total_items_span= page_soup.select('.desc span')

In [ ]:
total_items=0
count = 0
for span in total_items_span:
  if "of" in span.text:
    #print(span)
    #print(span.text.split('of')[1])
    titles = span.text.split('of')[1]
    #print(titles)
    total_text = titles.split(' ')[1]
    #print(total_text)
    total_items = int(total_text.replace(',',''))
    break
total_items

16050

In [ ]:
movies = []

In [ ]:
while count < total_items:
  res = requests.get("https://www.imdb.com/search/title/?title_type=feature&countries=in&languages=hi&view=simple&ref_=adv_prv&start="+str(count+1))
  page_soup=soup(res.text)
  item_headers=page_soup.select('.lister-item-header')
  #if(count>100):
  #  break
  for item in item_headers:
    spans = item.findAll('span')
    movie_details = spans[1]
    name=movie_details.find('a').text
    year=movie_details.find('span').text
    #print(name)
    #print(year)
    movie = {'Name': name, 'Year': year}
    count += 1
    #print(movie)
    movies.append(movie)
    
#movies.reset_index()

In [ ]:
#movies[49:51]

In [ ]:
movies_df = pd.DataFrame(movies)

In [ ]:
movies_df.to_csv("movies.csv", index=False)

In [ ]:
movies_df.sample()

               Name    Year
10905  Vikram Vedha  (2022)

In [ ]:
movies_df.sample()['Name'].values[0]

'Jhutha Sach'